*/*/__pycache__/
app/.cache/
app/build/
app/dist/
*.log
app/junit-test-results.xml
app/coverage.xml
.git/
.gitignore
app/migrations
.vscode/
./ui/.vue-static/
./ui/node_modules
./ui/src
./ui/editorconfig
./ui/eslingtignore
./ui//eslintrc.js
./ui/package*.json
./ui/poi.config.ts
./ui/tsconfig.json
./ui/tslint.json